    h1,
    h2,
    h4,
    h5 {
      font-weight: normal;
      display: inline-block;
    }

    table {
      text-align: left;
      margin: 0 auto;
    }

    li {
      padding: 10px 0;
      border-bottom: 1px #ccc solid;
    }

    a {
      color: #42b983;
    }

    tr {
      padding: 10px 0;
      border-bottom: 1px #ccc solid;
      height: 50px;
    }

    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      margin-top: 60px;
      margin-bottom: 60px;
      min-height: 73.8vh;
    }

    img {
      width: 150px;
    }

    .todos-container {
      padding: 25px 30px 35px;
      /* border: 2px solid #42b983; */
      border-radius: 10px;
      margin: 0 auto;
      width: auto;
      background-color: #f4f4f4;
      box-shadow: 5px 5px 8px #ccc;
    }

    .completed {
      text-decoration: line-through;
    }

    .todo-list {
      width: 100%;
      padding-left: 10px;
    }

    .todo-remove {
      padding-left: 10px;
      margin-bottom: 0;
    }

    .todos {
      width: 50%;
      margin: 0 auto;
    }

    .form-control {
      width: 50%;
      display: inline-block;
    }

    @media screen and (max-width: 600px) {
      .todo-text {
        font-size: 1.56rem;
      }

      .form-control {
        width: 80%;
      }

      .todos {
        width: 90%;
      }

      /* .todo-remove {
        padding-left: 20px;
      } */
    }

    #footer {
      position: relative;
      width: 100%;
      padding: 25px;
      bottom: 0;
      height: auto;
      background-color: #4cae4c;
      text-align: center;
      color: #fff;
    }

    #footer p {
      margin: 0;
    }

    #footer a {
      color: #093a64e0;
    }